<footer>
    <div class="footer">
        <div class="container">
            <a href="#top">
                <div class="arrow-up">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
            </a>
            <div class="row">
                <div class="col-md-8 col-lg-7">
                    <div class="footer-menu">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    Programs
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Apply
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Alumni
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Perfomances
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Support Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="follow-us text-right">
                        <b>Follow us</b>
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="all-right-reserved text-right">
                        © 2016 Perry Mansfield.  ALL RIGHTS RESERVED.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="build/js/main.js"></script>
<script>
    $('#slider').nivoSlider({
        effect:'sliceDown',
        prevText: '<img src="assets/img/arrow-left.png">',
        nextText: '<img src="assets/img/arrow-right.png">',
        controlNavThumbs:true,
        pauseTime:50000,
        afterChange: function(){
            $('.caption-animate').removeClass('fadeIn');
            $('.caption-animate').addClass('fadeInRight');
        }
    });
    var carousel = $('.owl-carousel');
    carousel.owlCarousel({
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        items:1,
        margin:30,
        smartSpeed:450
    });
    $(".danceTab").hover(function(e){
        e.preventDefault();
        carousel.trigger('to.owl.carousel', 0);
    });
    $(".theatreTab").hover(function(e){
        e.preventDefault();
        carousel.trigger('to.owl.carousel', 1);
    });
    $(".emergingTab").hover(function(e){
        e.preventDefault();
        carousel.trigger('to.owl.carousel', 2);
    });
    $(".discoveryTab").hover(function(e){
        e.preventDefault();
        carousel.trigger('to.owl.carousel', 3);
    });
    $(".equestrianTab").hover(function(e){
        e.preventDefault();
        carousel.trigger('to.owl.carousel', 4);
    });
    $('.video-text-block .item').matchHeight();
</script>