<div class="sidebar">
    <div class="widget">
        <h3 class="title-widget">All Posts</h3>
        <ul>
            <li><a href="#">2014</a></li>
            <li><a href="#">2015</a></li>
            <li><a href="#">2016</a></li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="title-widget">Categories</h3>
        <ul>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="title-widget">Latest Posts</h3>
        <ul>
            <li><a href="#">Rhythm Dance Company raises $2,000 for Best Buddies</a><span>2/3/2014</span></li>
            <li><a href="#">Local children danced for Algonquin. Best Buddies</a><span>1/29/14</span></li>
            <li><a href="#">Westborough Dancers Win Medals at Headliners Regional Competition</a><span>2/13/13</span></li>
        </ul>
    </div>
</div>