
.item-new {
  margin-top: 45px;
}

.item-new:first-child {
  margin-top: 40px;
}

.item-new:last-child {
  margin-bottom: 80px;
}

.item-new a:hover,
.item-new a:active,
.item-new a:link,
.item-new a:visited {
  text-decoration: none;
}

.title {
  margin-bottom: 15px;
  margin-top: 0;
}

.item-new a {
  color: #52523c;
  font-family: "Fira Sans";
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
}

.item-new a:hover {
  color: #118386;
}

.thumbnail-block {
  float: left;
}

.inner-block-item {
  padding-left: 180px;
}

.meta-data {
  padding: 9px 10px 9px 180px;
  background-color: #f4f4f4;
  margin-top: 3px;
  color: #6d6d50;
}

.meta-data span {
  float: right;
}

.meta-data,
.meta-data a {
  font-size: 12px;
  text-transform: none;
  line-height: normal;
}

.meta-data a {
  font-family: "Open Sans";
  color: #8db73b;
}

.meta-data a:hover {
  color: #118386;
  cursor: pointer;
}

.text-content {
  max-height: 72px;
  overflow: hidden;
  color: #6d6d50;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}

.title-widget {
  margin: 0 0 18px 0;
  color: #009f9b;
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
}

.widget ul {
  padding: 0;
  list-style-type: none;
}

.widget li {
  margin-bottom: 18px;
  position: relative;
  padding-left: 10px;
}

.widget li a {
  color: #6d6d50;
  font-size: 16px;
  line-height: normal;
}

.widget li a:hover {
  cursor: pointer;
  text-decoration: none;
}

.widget span {
  color: #b6b6a7;
  font-size: 12px;
  display: block;
}

.widget li:before {
  position: absolute;
  left: 0px;
  top: 5px;
  font-family: FontAwesome;
  content: "\f054";
  color: #6d6d50;
  font-size: 8px;
  text-transform: uppercase;
}
.news-block .article-content .title-article{
  color: #8db73b;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 33px;
  margin-top: 33px;
}
.news-block .article-content .post-by{
  font-size: 12px;
  font-family: "Open Sans";
  color: #6d6d50;
  margin-bottom: 10px;
}
.news-block .article-content .post-by a{
  color: #118386;
  text-decoration: none;
}
.news-block .article-content .count-comments{
  font-size: 12px;
  color: #118386;
  margin-bottom: 20px;
}
.news-block .article-content .content-article{
  font-size: 16px;
  font-family: "Open Sans";
  color: #6d6d50;
  margin-bottom: 70px;
}
.news-block .article-content .content-article .pull-left{
  margin-bottom: 20px;
  margin-right: 20px;
}
.news-block .article-content .content-article img{
  max-width: 450px;
  height: 349px;
  object-fit: cover;
}
.news-block .article-content .content-article p{
  margin-bottom: 30px;
}
.news-block .article-content .content-article a{
  color: #8db73b;
  font-weight: 700;
}
.news-block .article-content .article-next-prev{
  margin-bottom: 43px;
  font-family: "Open Sans";
  font-size: 12px;
}
.news-block .article-content .article-next-prev a{
  color: #118386;
  text-decoration: none;
}
.news-block .article-content .prev-article,
.news-block .article-content .next-article{
  width: 360px;
  border-bottom: 3px solid #118386;
  position: relative;
  padding-bottom: 10px;
}
.news-block .article-content .prev-article .link-nav{
  position: absolute;
  left: 10px;
  top:50%;
  margin-top: -10px;
  text-transform: uppercase;
}
.news-block .article-content .prev-article i{
  margin-right: 15px;
}
.news-block .article-content  .prev-article .content-nav{
  margin-left:103px;
}
.news-block .article-content .next-article .link-nav{
  position: absolute;
  right: 10px;
  top:50%;
  margin-top: -10px;
  text-transform: uppercase;
}
.news-block .article-content .next-article i{
  margin-left: 15px;
}
.news-block .article-content  .next-article .content-nav{
  margin-right:103px;
}
@media(max-width: 1199px){
  .news-block .article-content .prev-article,
  .news-block .article-content .next-article {
    width: 300px;
  }
}
@media(max-width: 991px){
  .news-block .article-content .prev-article,
  .news-block .article-content .next-article {
    width: 260px;
  }
  .news-block .article-content .content-article img{
    width: 100%;
    object-fit: inherit;
    height: auto;
    max-width: inherit;
  }
}
@media(max-width: 767px){
  .news-block .article-content .prev-article,
  .news-block .article-content .next-article {
    width: 140px;
    height: 50px;
  }
  .news-block .article-content .prev-article .content-nav,
  .news-block .article-content .next-article .content-nav{
    display: none;
  }
}
@media(max-width: 599px) {
  .meta-data {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .thumbnail-block {
    float: none;
    text-align: center;
  }
  .text-content {
    max-height: inherit;
  }
  .inner-block-item {
    margin-top: 9px;
    padding: 0;
  }
}

@media(max-width: 359px) {
  span.count-comments {
    display: block;
    float: none;
  }
}